<app-header [dark]="true"></app-header>
<section>
  <div class="nav">
    <div class="courseware" routerLink="/courseware">
      <h2 class="title">Material didático</h2>
      <div class="mini-divider"></div>
      <img src="../../../assets/images/courseware.png" alt="Imagem de uma pilha de livros">
    </div>
    <div class="quiz">
      <h2 class="title">Quiz</h2>
      <div class="mini-divider"></div>
      <img src="../../../assets/images/quiz.png" alt="Imagem de uma medalha">
    </div>
    <div class="picture">
      <h2 class="title">Desenho</h2>
      <div class="mini-divider"></div>
      <img src="../../../assets/images/picture.png" alt="Imagem de um pincel e uma paleta">
    </div>
    <div class="youtube">
      <h2 class="title">Youtube</h2>
      <div class="mini-divider"></div>
      <img src="../../../assets/images/youtube.png" alt="Imagem do logo do youtube">
    </div>
  </div>
</section>
