section {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;

  background: #F5F5F5;

  padding: 32px 64px 64px 64px;
  box-sizing: border-box;
}

section img {
  width: 100%;
  max-width: 1792px;
  height: 584px;
}

.carousel {
  display: flex;
  gap: 32px;

  margin-top: 45px;

  overflow: scroll;
}

.carousel::-webkit-scrollbar {
  display: none;
}
